[gerrit]
	basePath = git
	canonicalWebUrl = http://localhost:8002
	serverId = 82effc11-2f59-41a9-b26b-7eeb4b7c625d
[container]
	javaHome = /usr/lib/jvm/jre
	javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
	javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
	user = gerrit
[database]
#	type = h2
#	database = /var/gerrit/db/ReviewDB
	type = postgresql
	database = gerrit-db
	hostname = postgresql-server
	username = gerrit-user
	password = gerrit-user
[auth]
	type = LDAP
	gitBasicAuthPolicy = LDAP
[ldap]
	server = ldap://openldap-server
	username = cn=admin,dc=apical,dc=com,dc=cn
	password = openldap-password
	accountBase = dc=apical,dc=com,dc=cn
	groupBase = dc=apical,dc=com,dc=cn
[receive]
	enableSignedPush = true
[sendemail]
	enable = false
	smtpServer = localhost
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8002/
[cache]
	directory = cache
[noteDb "changes"]
	autoMigrate = true
[index]
	type = LUCENE
